@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Azeret Mono";
  margin: 0px;
  padding: 0px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 30px 10px;
}
.resume {
  padding: 10px 20px;
  background-color: white;
  border-color: 1px solid gray;
  font-weight: bold;
  font-size: 20px;
}
.banner-container {
  background-image: url("./assets/Hero-bg.png");
  width: 100%;
  height: 80vh;
  text-align: center;
}
.banner-img {
  width: 180px;
  margin-top: 60px;
}
.connect-btn {
  padding: 20px 30px;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 50px;
}
.banner-title {
  font-size: 50px;
  margin: 20px 0px;
}
.banner-sub-title {
  font-size: 24px;
  margin-bottom: 30px;
}
main {
  background-color: rgba(13, 19, 33, 0.02);
  width: 80%;
  margin: 60px auto;
  text-align: center;
  padding: 40px;
}
.why-web-dev-title {
  margin-bottom: 24px;
}
.why-web-dev-sub-title {
  margin-bottom: 48px;
  line-height: 24px;
}
.box-1 {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
  padding: 48px;
  display: flex;
  justify-content: space-around;
  text-align: justify;
  gap: 32px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.box-1-title {
  font-size: 24px;
  margin-bottom: 32px;
  margin-top: 50px;
}
.box-1-sub-title {
  font-size: 16px;
  margin-bottom: 32px;
}
.box-1-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1px solid #0d1321;
  opacity: 0.7;
}
.box-1-img {
  width: 274.169px;
  height: 240px;
  padding: 3.767px 13.664px 19.221px 0.941px;
}
